<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- Default WebSocket server URL. Can be overridden by passing a URL as a command-line argument. -->
    <add key="ServerUrl" value="ws://localhost:7008"/>
  </appSettings>
</configuration>
